{% extends 'base.html' %}

{% block content %}

<div style="text-align: center; max-width: 20rem; margin: 4rem auto;">
    <p>
        {{ target_user.date_joined }}
    </p>

    {% if target_user.profile %}
    <h2 style="font-family: 'NanumSquareBold';">
        {{ target_user.profile.nickname }}
    </h2>
    {% else %}
    <a href="{% url 'profileapp:create' %}">
        <button style="font-family: 'NanumSquareBold'; font-size: 1.5rem;"
            class="btn btn-secondary col-10">
            Create Profile
        </button>
    </a>
    {% endif %}

    {% if target_user == user %}
    <a href="{% url 'accountapp:update' pk=user.pk %}">
        <span class="btn btn-dark rounded-pill col-6 mt-4">
            Change Info
        </span>
    </a>
    <a href="{% url 'accountapp:delete' pk=user.pk %}">
        <span class="btn btn-dark rounded-pill col-6 mt-3">
            Quit
        </span>
    </a>
    {% endif %}
</div>

{% endblock %}